.cont{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 700px;
    background-color: aqua;
    border-radius: 50px;
    overflow: hidden;
    /* padding: 10px; */
    /* margin: 10px; */
}
.box2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    grid-template-rows: repeat(4,1fr);
    padding: 40px;
}
.box2 button{
    height: 100px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 3em;
}
.box2 button:hover{
    background-color: hsl(39, 100%, 20%);
}
#input{
    width: 100%;
    padding: 30px;
    /* height: 10%; */
    color: red;
    background-color: grey;
    border: none;
    font-size: 4rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}